

.choose-label {
    padding: 0 12px 12px;
}
.label-picker {
    color: white;
}
.label-colors {
    display: flex;
    justify-content: space-between;
    padding: 6px;
}
.create-label {
    padding: 8px;
    .add-label-btns {
        display: flex;
        justify-content: space-between;
        padding: 2px;
        button {
            color: white;
            background-color: #b04632;
            padding: 8px 14px;
            &:first-of-type {
                background-color: #0079bf;
            }
        }
    }
    ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding-left: 5px;
    }
}

.card-label-color {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    margin: 0 8px 8px 0;
    padding: 0;
    width: 48px;
    cursor: pointer;
    border-radius: 4px;
}

.card-label {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 90%;
    height: 30px;
    margin-bottom: 4px;
    border-radius: 3px;
    transition: box-shadow 0.1s;
    &:hover {
        box-shadow: -8px 0 rgba(104, 104, 110, 0.397);
    }
    a {
        position: absolute;
        text-align: center;
        padding-top: 6px;
        right: -36px;
        top: 0;
        width: 32px;
        height: 32px;
        border-radius: 3px;
        color: $clr1;
        text-decoration: none;
        &:hover {
            background-color: $clr3;
        }
        &::before {
            font-family: fontAwesome, sans serif;
            content: "\f304";
        }
    }
}

.create-label{
    margin: 6px 0 0;
    width: 100%;
    &:hover{
        background-color: $clr3;
    }
}

.labels-back {
    position: relative;
    top: 10px;
    right: -10px;
    color: $clr2;
    background-color: unset;
    &:hover {
        color: $clr1;
    }
    &::before {
        font-family: fontAwesome, sans serif;
        content: "\f053";
    }
}
