.el-date-picker {
    width: 300px;
}

.add-to-card {
    .el-date-editor {
        width: 100%;
    }
    i {
        display: none;
    }
    .date-hr{
        margin-bottom: 5px
    }
}

.remove-date{
    @include control-btn;
    width: 95%;
    margin: 0 2.5%;
}

button.el-button:nth-child(1) {
    display: none;
}


.el-picker-panel__content {
    margin: 0;
}
