.add-member {
    img {
        width: 35px;
        border-radius: 50%;
        background-color: $clr3;
    }

    h3{
        color: $clr2;
    }

    h5{
       margin-inline-start: 2.5%; 
       margin-bottom: 8px;
    }
}

.user-member{
    button{
        margin: 2px auto;
        color: $clr1;
        width: 95%;
        display: flex;
        align-items: center;
        background-color: unset;
        >*{
            margin-inline-end: 6px;
        }
        &:hover{
            background-color: $clr4;
        }
    }
}

.user-letter{
    width: 35px;
    height: 35px;
    padding-top: 6px;
    padding-left: 9px;
    font-size: 18px;
}
