.el-date-picker {
    width: 300px;
}

.add-date{
    padding: 12px;
}

.add-to-card {
    .el-date-editor {
        width: 100%;
    }
    i {
        display: none;
    }
    .date-hr{
        margin-bottom: 5px
    }
}

.el-picker-panel{
    left: 602px!important
}
.remove-date{
    @include control-btn;
    width: 100%;
    margin-bottom: 8px;
}

button.el-button:nth-child(1) {
    display: none;
}


.el-picker-panel__content {
    margin: 0;
}

