.board-container{
    
    .board-header{
        display: flex;
        background-color: bisque;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }
    .board-content{
        display: flex;
        gap: 0.2rem;
    }

}