.board-container {

    .board-content {
        height: 90vh;
    }

    .groups{
        height: fit-content;
        display: flex;
        gap: 0.2rem;
    }
}

::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
    
}

::-webkit-scrollbar-thumb {
    background: #BFC4CE;
    border-radius: 20px;
           
}

.board-content {
    display: flex;
    gap: 0.2rem;
    overflow-x: auto;

}

.board-header {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
    h2 {
        padding-top: 3px;
        font-weight: 600;
    }
    button {
        color: $clr1;
        background-color: rgba($color: #000000, $alpha: 0.1);
        min-width: 32px;
        height: 32px;
        margin: 6px 4px;
        border-radius: 3px;
        border: none;
        padding: 6px 8px;
        &:hover{
            background-color: rgba($color: #000000, $alpha: 0.2); 
        }
    }
    .board-members {
        position: relative;
        overflow: hidden;
        margin: 6px 0;
        max-width: 32px;
        color: transparent;
        border-radius: 50%;
        img {
            position: absolute;
            right: 0;
            top: 0;
            width: 32px;
            height: 32px;
            object-fit: cover;
        }
        &::first-letter {
            color: black;
        }
        &:hover {
            filter: brightness(110%);
        }
    }
}

.main-header-side {
    display: flex;
}

.favorite-board::before {
    font-family: fontAwesome, sans serif;
    content: "\f005";
}

.show-board-menu:before {
    font-family: fontAwesome, sans serif;
    content: "\f141";
}
