.card-preview{
    // position: absolute;
    background-color: #ffffff;
    margin: 0 8px 8px;
    border-radius: 3px;
    .card-preview-cover{
        height: 3rem;
        border-radius: 3px 3px 0 0
    }
    .card-preview-title{
        font-weight: 600;
    }
    .card-preview-badges{
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem;
    }

    
}

.card-preview-date::before{
    font-family: fontAwesome, sans serif;
    content:'\f017';
}

.card-preview-desc::before{
    font-family: fontAwesome, sans serif;
    content:'\f036';
}

.card-preview-comments::before{
    font-family: fontAwesome, sans serif;
    content:'\f14a';
}

.card-preview-attachments::before{
    font-family: fontAwesome, sans serif;
    content:'\f0c6';
}

.card-preview-checklists::before{
    font-family: fontAwesome, sans serif;
    content:'\f14a';
}

.card-preview-members::before{
    font-family: fontAwesome, sans serif;
    content:'\f14a';
}