.card-preview{
    background-color: #ffffff;
    margin: 0 8px 8px;
    border-radius: 3px;
    .card-preview-cover{
        height: 3rem;
        border-radius: 3px 3px 0 0
    }
    .card-preview-title{
        font-weight: 600;
    }
    .card-preview-badges{
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem;
    }


}