.home {
    width: 100vw;
    button {
        padding: 14px;
        background-color: #0065ff;
        color: $clr4;
        font-size: 18px;
    }
    .background {
        background: linear-gradient(
            180deg,
            rgba(#0065ff, 0.3) 0%,
            rgba(0, 101, 255, 0.2) 10%,
            rgba(0, 101, 255, 0.1) 20%,
            rgba(0, 101, 255, 0) 30%,
            rgba(255, 255, 255, 1) 60%
        );
    }

    .yuumi {
        width: 200px;
        height: 200px;
        position: absolute;
        right: -40px;
        transform: rotate(-0.1turn);
    }

    .yuumi-container {
        animation: yuumiMove ease normal forwards 1000ms;
    }
    @keyframes yuumiMove {
        0% {
            transform: translateX(30%);
        }
        100% {
            transform: translateX(2%);
        }
    }
}

.home-header {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
}

.home-header-btns {
    display: flex;
    align-items: center;
    button {
        margin-inline-start: 8px;
        padding: 8px;
        &:first-of-type {
            background-color: transparent;
            color: #0065ff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.home-header-user {
    display: flex;
    align-items: center;
    button {
        display: flex;
        align-items: center;
        margin-inline-start: 8px;
        font-size: 14px;
        height: 40px;
    }
}

.home-logo {
    display: flex;
    align-items: center;
    img {
        margin-bottom: 16px;
        height: 50px;
        width: 50px;
    }
    h1 {
        font-weight: 700;
        font-size: 40px;
    }
}

.hero {
    h2 {
        font-weight: 600;
        font-size: 32px;
        padding-bottom: 46px;
    }
    h3 {
        font-size: 26px;
    }

    margin: 0 auto;

    @include for-narrow-layout {
        max-width: $break-narrow;
    }

    @include for-normal-layout {
        max-width: $break-normal;
    }
    @include for-wide-layout {
        max-width: $break-wide;
    }
}

.login {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 3px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
    text-align: center;
    height: 600px;
    width: 400px;
}
.signup-form {
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
    button {
        padding: 12px 36px;
    }
}
.signup-inputs {
    display: flex;
    flex-direction: column;
    input[type="text"] {
        @include trello-txt;
        margin: 0;
    }
    input[type="password"] {
        @include trello-txt;
        margin: 0;
    }
    label {
        padding-bottom: 2px;
    }
}

.login-form {
    display: flex;
    align-items: flex-end;
    button {
        height: 46px;
        padding: 12px 42px;
    }
}

.login-inputs {
    display: flex;
    flex-direction: column;
    input[type="text"] {
        @include trello-txt;
        margin: 0;
    }
    input[type="password"] {
        @include trello-txt;
        margin: 0;
    }
    label {
        padding-bottom: 2px;
    }
}
