.main-header {
    display: flex;
    align-items: center;
    background-color: burlywood;
    justify-content: space-between;
    height: 40px; //maybe change to padding

    .header-left{
        display: flex;
        >*{
            margin-left: 4px;
            border-radius: 3px;
            background-color: brown;
            padding: 5px 6px;
        }
    }
    .header-right{
        display: flex;
        >*{
            margin-right: 4px;
            border-radius: 3px;
            background-color: brown;
        }
    }
}

.to-home::before{
    font-family: fontAwesome, sans serif;
    content:'\f80c'
}

.to-boards::before{
    font-family: fontAwesome, sans serif;
    content:'\f80c'  
}