.notifications {
    z-index: 2;
    position: absolute;
    right: 2px;
    top: 42px;
    padding: 12px;
    width: 432px;
    min-height: 500px;
    max-height: 80vh;
    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;

    hr {
        margin: 0 auto 12px;
        filter: brightness(250%);
        width: 100%;
    }
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
}

.close-notifications {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    font-size: 16px;
    &::before {
        font-family: fontAwesome, sans serif;
        content: "\f00d";
    }
}
