.member{
    display: flex;
    button{
        border: none;
        width: 32px;
        height: 32px;
        margin: 4px;
        border-radius: 50%;
        background-color: $clr4;
        &:hover{
            filter: brightness(101.5%);
        }
    }
    img{
        border-radius: 50%;
        width: 30px;
    }
    .add-new-member::before{
        font-family: fontAwesome, sans serif;
        content: '\f067';
    }
}